server:
  port: 8761

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false

spring:
  application:
    name: service-registry

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always
  zipkin:
    tracing:
      endpoint: ${ZIPKIN_SERVER_URL:http://localhost:9411/api/v2/spans}


# -------------------------
# Logging
# -------------------------
logging:
  file:
    path: ./logs